


<html>

    <head>
        {% if title %}
      <title>{{ title }} - FlatBuffers REST </title>
      {% else %}
      <title>FlatBuffers REST</title>
      {% endif %}


        </head>


    <body>
    <div>Flatbuffers REST</div>
    <hr>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.Field1.label }}<br>
            {{ form.Field1(size=32) }}
        </p>
        <p>
            {{ form.Field2.label }}<br>
            {{ form.Field2(size=32) }}
        </p>
        <p>{{ form.check_high_low() }}</p>

        <p>
            {{ form.IntField.label }}<br>
            {{ form.IntField(size=32) }}
        </p>
        <p>{{ form.check_messages() }}</p>

    </form>
    </body>
</html>